- load staticfiles

doctype html

html(
  lang="en",
  dir="ltr",
  data-environment="{{ conf.ENVIRONMENT }}"
)
  head
    include _head

    block meta_tags

    title
      block title
        | Diapason

    block stylesheets
      link(rel='stylesheet' href='{% static "controllers/layout/stylesheets/layout.css" %}', type='text/css')
      link(rel='stylesheet' href='{% static "vendor/bootstrap/stylesheets/bootstrap.css" %}', type='text/css')

    block javascripts
      script(src='{% static "vendor/jquery/javascripts/jquery.js" %}', type='text/javascript')
      script(src='{% static "vendor/bootstrap/javascripts/bootstrap.js" %}', type='text/javascript', charset='utf-8')
      script(src='{% static "controllers/layout/javascripts/layout.js" %}', type='text/javascript', charset='utf-8')

    block extra_head

  body
    header.headers
      .header-space

      .header-content
        include _header

    #body.body
      block content

    footer.footers
      block footer
