extends __base

block title
  | Erreur

block content
  .error-page
    .error
      block error_code
        | Erreur

    .info
      block error_info
        | Une erreur est survenue.

    a.btn.btn-primary.btn-return(href='{% url "home.views.root" %}')
      if user.is_authenticated
        | Revenir à l'accueil

block footer
  include _footer
