.footer
  .grid
    .g-c12
      span.copyright
        | © 2016
        a(href='https://gitlab.com/valeriansaliou/diapason')
          |  Diapason

      nav.navigation
        a(href='https://gitlab.com/valeriansaliou/diapason')
          | Projet Diapason

  .clear

.clear
