- load staticfiles avatar

.bluelines-container
  .bluelines

.header
  .grid
    if has_header != False
      .g-c5.header-c5

      .g-c2.header-c2
        .logo
          a.logo-link(href='/')
            span.logo-img

      .g-c5.header-c5
        if user.username
          .shortcuts
            if request.path != "/diapason/new/"
              .new-diapason-header
                a.btn.btn-primary(href='{% url "diapason.views.new" %}')
                  | Nouveau Diapason

            .user-profile-header
              .profile
                a.user-picture(href='{% url "user.views.main" user.username %}')
                  {% avatar_normal request.user %}

                #userSettings.user-settings
                  .welcome
                    a.username(href='{% url "user.views.main" user.username %}')
                      | {{ user.first_name | truncatechars:10 }} {{ user.last_name | truncatechars:10 }}

                  .arrow-deploy
                    span.arrow
                  .clear

                #userSettingsDeploy.user-settings-deploy
                  a(href='{% url "account.views.settings_root" %}')
                    span.item.item-dashboard
                      | Paramètres
                      span.caret
                        span.caret-img

                  a(href='{% url "account.views.logout_root" %}')
                    span.item.item-logout Déconnexion

              .clear

          .clear

    .clear

  .embossed-bar
