meta(http-equiv='Content-Type', content='text; charset=utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')

include _head_favicon
