@import "compass"

@import "controllers/configuration"
@import "controllers/functions"
@import "controllers/keyframes"



// Home >> Root >> All

.home-root
  .g-c10
    margin: 0 auto
    display: block
    float: none

  ul
    li
      list-style-type: none

.home-root-box
  padding: 0
  +box-shadow(0 1px 5px rgba(0,0,0,.12))



// Home >> Root >> Header

.home-root-header
  overflow: hidden
  height: 140px
  margin: 0
  padding: 0
  display: block
  position: relative

  .home-root-header-wrap,
  .home-root-header-bg
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0

  .home-root-header-wrap
    color: #ffffff
    background-color: rgba(0, 0, 0, 0.65)
    z-index: 2

    .home-root-header-name
      position: absolute
      left: 150px
      bottom: 43px

      .home-root-header-name-avatar
        position: absolute
        margin-top: -31px
        top: 50%
        left: -90px

        img
          +border-radius(12px)
          +box-shadow(0 1px 10px rgba(255,255,255,.4))

      .home-root-header-name-text
        font-size: 20px
        text-shadow: 0 1px 1px rgba(0,0,0,0.5)
        margin-top: 4px

        .home-root-header-name-text-title
          font-size: 18px
          margin: 0
          margin-bottom: 3px

        .home-root-header-name-text-subtitle
          font-size: 14px
          margin: 0

  .home-root-header-bg
    background-image: url('https://source.unsplash.com/random/960x100px')
    background-color: #ffffff
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    filter: blur(3px) grayscale(25%)
    z-index: 1



// Home >> Root >> Diapasons

.home-root-diapasons
  background: #ffffff

  .home-root-diapasons-latest
    padding: 10px 60px

    .home-root-diapasons-latest-title
      font-size: 20px
      text-transform: uppercase

    .home-root-diapasons-latest-list
      margin-top: 20px
      padding: 0
