// Layout Components >> Variables



// `Layout Components >> Social Buttons

.facebook-connect
    +sprite-background($layoutBoth, 'facebook-connect-default')
    cursor: pointer

    &:hover
        +sprite-background($layoutBoth, 'facebook-connect-default-hover')

    &:active
        +sprite-background($layoutBoth, 'facebook-connect-default-focus')



// `Layout Components >> Diapason Card

.diapason-card-item
    list-style-type: none
    margin-bottom: 24px
    margin-right: 24px
    display: inline-block

    .diapason-card-link
        background: white
        width: 320px
        height: 160px
        border-radius: 2px
        +box-shadow(0 3px 7px rgba(0,0,0,.15))
        display: inline-block
        overflow: hidden
        position: relative
        +transition(transform .2s ease-in-out)

        &:hover
            +transform(scale(1.05))
            +box-shadow(0 3px 9px rgba(0,0,0,.25))

        &:active
            +transform(scale(.975))

        .diapason-card
            background: rgba(0,0,0,.8)
            color: white
            height: 62px
            padding: 8px 0 0 20px
            position: absolute
            left: 0
            right: 0
            bottom: 0
            z-index: 2

            .diapason-card-title,
            .diapason-card-desc
                display: block

            .diapason-card-title
                font-weight: bold
                font-size: 14px

            .diapason-card-desc
                font-size: 12px

        .diapason-card-bg
            background-image: url('https://source.unsplash.com/random/320x160px')
            background-color: #ffffff
            background-repeat: no-repeat
            background-position: center
            background-size: cover
            filter: blur(3px) grayscale(25%)
            position: absolute
            left: 0
            top: 0
            bottom: 0
            right: 0
            z-index: 1
