// Layout >> Footers

.footer
    display: inline-block
    width: 100%
    padding-top: 20px
    border-top: 1px solid #dddddd
    background-color: #ffffff
    text-align: center

    .navigation
        a
            display: inline-block
            margin: 6px 10px
            color: $grey
            font-size: (13/16) * 1em

    .copyright
        display: inline-block
        margin: 15px 0 26px
        color: $grey
        font-size: (13/16) * 1em

        a:hover
            text-decoration: none


/* For Small Tablet (L) & Beyond */
@media screen and (min-width: 799px)
    .footer
        display: block
        padding-top: 10px
        padding-right: 15px
        padding-left: 15px
        text-align: left

        .copyright
            float: left
            margin-top: 12px

        .navigation
            float: right
            margin-top: 7px

            a:last-child
                margin-right: 0


/* For Tablet (L) & Beyond */
@media screen and (min-width: 1023px)
    .footer
        .navigation
            a
                margin-right: 12px
                margin-left: 12px


/* For WideScreen & Beyond */
@media screen and (min-width: 1200px)
    .footer
        .navigation
            a
                margin-right: 15px
                margin-left: 15px
