@import "compass"
@import "controllers/functions"
@import "controllers/keyframes"



// Timeline >> Variables

$layoutDesktop: sprite-map("controllers/layout/images/layout_desktop/*.png")



// Items > Common Style

.items-wrapper
    .items
        .item
            margin-bottom: 15px

            .avatar-wrapper
                float: left
                margin-right: 15px
                margin-bottom: 12px

            .heading
                margin-bottom: 12px
                margin-left: 90px
                color: $black
                font-size: (14/16) * 1em
                font-family: "OpenSans Semibold", sans-serif

                .separator
                    display: inline-block
                    margin: 0 5px
                    color: $grey

                .ago,
                .label-new
                    color: $grey
                    font-size: (12/14) * 1em
                    font-family: "OpenSans", sans-serif

                .label-new
                    margin-left: 8px
                    color: $red


/* For Smartphone (L) & Beyond */
@media screen and (min-width: 479px)
    .items-wrapper
        .items
            .item
                .heading
                    margin-left: 100px
                    margin-bottom: 1px



// Items > Show More & Page End

/* For Smartphone (L) & Beyond */
@media screen and (min-width: 479px)
    .show-more,
    .page-end
        margin-left: 100px
