extends __base

- load staticfiles avatar

block title
  | Bienvenue sur Diapason

block stylesheets
  | {{ block.super }}
  link(rel='stylesheet' href='{% static "assets/home/stylesheets/home_root.css" %}', type='text/css')

block javascripts
  | {{ block.super }}
  script(src='{% static "assets/home/javascripts/home_root.js" %}', type='text/javascript')

block content
  .grid.home-root
    .g-c10.g-s2.home-root-box
      .home-root-header
        .home-root-header-wrap
          .home-root-header-name
            span.home-root-header-name-avatar
              {% avatar_large request.user %}

            .home-root-header-name-text
              h4.home-root-header-name-text-title
                | Bonjour, #{user.first_name} #{user.last_name}

              p.home-root-header-name-text-subtitle
                | Bienvenue sur Diapason. Utilisez la plateforme pour aider à la prise de décision.

            span.clear

        .home-root-header-bg

      .home-root-diapasons
        .home-root-diapasons-latest
          h2.home-root-diapasons-latest-title
            | Dernier Diapasons

          ul.home-root-diapasons-latest-list
            for diapason in latest
              li.diapason-card-item
                a.diapason-card-link(
                  href="/diapason/assembly/#{diapason.slug}/"
                )
                  span.diapason-card
                    span.diapason-card-title
                      | #{diapason.name}

                    span.diapason-card-desc
                      | #{diapason.description}

                  span.diapason-card-bg

            .clear

    .clear

block footer
  include _footer
