@import "compass"
@import "controllers/functions"
@import "controllers/keyframes"



// Emblemize >> Variables

$emblemizeBoth: sprite-map("assets/account/images/account_emblemize_both/*.png")



.emblem
    margin: 30px 0 50px
    text-align: center

    .emblem-img
        +sprite-background-simple($emblemizeBoth, 'diapason-emblem')
        margin: 0 auto !important
        display: block !important
