@import "compass"

@import "controllers/configuration"
@import "controllers/functions"
@import "controllers/keyframes"



// Signout >> Layout Ajustments

.alerts
    display: none



// Signout >> Engagement Box

.signout
    margin-bottom: 24px

    .signout-wrapper
        margin: 0 auto

        h1,
        h2
            font-size: (18/16) * 1em
            text-transform: uppercase
            text-align: center
            font-family: "OpenSans", sans-serif
            font-weight: bold
            color: #606060

        h1
            margin-bottom: 4px

        h2
            margin-top: 0
            margin-bottom: 28px

        .signout-actions
            text-align: center
            margin: 30px 0


/* For Small Tablet & Beyond */
@media screen and (min-width: 599px)
    .signout
        height: 490px
        margin-bottom: 0
        background: url("../images/account_logout_bg/bg-mashup.png") center center no-repeat

        .signout-wrapper
            width: 450px
            padding-top: 150px

            .logout-suggest
                .logout-action
                    .logout-title
                        font-size: (12/16) * 1em


/* For Mobile (L) (only) */
@media screen and (max-width: 599px) and (orientation: landscape)
    .signout
        margin-top: -8px
        margin-bottom: 0
