extends __base

block content
  .grid
    .g-c12.main-zone-c12
      .main-zone.shadow-light-if-desktop
        .body-central-wrapper.body-central-wrapper-mini
          .body-central.user(style="padding-top: 30px")
            block user

        .clear

    .clear

block footer
  include _footer
