- load humanize avatar

.user-profile
  .large-pix.g-c2
    | {% avatar_large aut_user 'complete' %}

  .content.g-c10(style="margin-top: -12px; margin-left: 22px")
    h2.author
      | {{ aut_user.first_name|title }} {{ aut_user.last_name|title }}

    h4.email
      a(href="mailto:#{aut_user.email}")
        | {{ aut_user.email }}

    blockquote.bio
      | <strong>Bio</strong> : {{ aut_profile.about }}

    if request.user.id == aut_user.id
      a.edit.btn.btn-primary(
        href='{% url "account.views.settings_root" %}'
      )
        | Éditer mon profil

  .clear

.cutline
