.user-diapasons
  h2 Membre des Diapasons

  ul.diapasons-list
    for diapason in diapasons
      li.diapason-card-item
        a.diapason-card-link(
          href="/diapason/assembly/#{diapason.slug}/"
        )
          span.diapason-card
            span.diapason-card-title
              | #{diapason.name}

            span.diapason-card-desc
              | #{diapason.description}

          span.diapason-card-bg
