extends user/__user

- load staticfiles

block title
  | {{ aut_user.first_name|title }} {{ aut_user.last_name|title }}

block stylesheets
  | {{ block.super }}
  link(rel='stylesheet' href='{% static "assets/user/stylesheets/user_main.css" %}', type='text/css')

block extra_head

block user
  .left-summary-desktop
    include user/_user_view_summary

  include user/_user_diapasons
