@import "compass"

@import "controllers/configuration"
@import "controllers/functions"
@import "controllers/keyframes"



// Diapason >> Invite

.invite-diapason-title
  text-align: center

.invite-diapason-choices-wrapper
  text-align: center
  margin-top: 18px

  .invite-diapason-choices
    padding: 0
    display: inline-block

    .invite-diapason-choices-item
      list-style-type: none
      margin: 0 9px
      float: left

      .invite-diapason-choices-item-button
        background-color: #436FBC
        border: 1px solid #32528A
        color: #ffffff
        text-align: center
        font-size: 14px
        width: 300px
        height: 110px
        display: inline-block
        position: relative

        .invite-diapason-choices-item-button-wrapped
          position: absolute
          top: 50%
          left: 8px
          right: 8px
          +transform(translateY(-50%))

          .invite-diapason-choices-item-button-label,
          .invite-diapason-choices-item-button-description
            display: block

          .invite-diapason-choices-item-button-label
            font-size: 15px
            line-height: 20px

          .invite-diapason-choices-item-button-description
            font-size: 13.5px
            margin-top: 10px


.error-btn
  text-align: center
  padding-top: 40px
