@import "compass"

@import "controllers/configuration"
@import "controllers/functions"
@import "controllers/keyframes"



@mixin percent-progress($idx)
  $base: 5 * $idx

  &[data-percent="#{$base + 1}"],
  &[data-percent="#{$base + 2}"],
  &[data-percent="#{$base + 3}"],
  &[data-percent="#{$base + 4}"],
  &[data-percent="#{$base + 5}"]
    .assembly-sessions-contents-vote-choices-one-percent-progress
      .assembly-sessions-contents-vote-choices-one-percent-progress-line
        width: (($idx + 1) * 5%)



// Diapason >> Assembly >> All

.assembly
  .g-c10
    margin: 0 auto
    display: block
    float: none

  ul
    li
      list-style-type: none

.assembly-box
  padding: 0
  +box-shadow(0 1px 5px rgba(0,0,0,.12))


// Diapason >> Assembly >> Header

.assembly-header
  overflow: hidden
  height: 100px
  margin: 0
  padding: 0
  display: block
  position: relative

  .assembly-header-wrap,
  .assembly-header-bg
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0

  .assembly-header-wrap
    color: #ffffff
    background-color: rgba(0, 0, 0, 0.65)
    z-index: 2

    .assembly-header-name
      position: absolute
      left: 80px
      bottom: 16px

      .assembly-header-name-icon
        font-size: (24/16) * 1em
        position: absolute
        margin-top: -17px
        top: 50%
        left: -28px

      .assembly-header-name-text
        font-size: 20px
        text-shadow: 0 1px 1px rgba(0,0,0,0.5)

        .assembly-header-name-text-session
          border-left: 1px solid rgba(#fff, .3)
          letter-spacing: .2px
          font-size: 15px
          margin-left: 16px
          padding-left: 14px

    .assembly-header-people
      position: absolute
      right: 80px
      bottom: 9px

      .assembly-header-people-one
        margin-left: -8px
        float: left

        &:first-of-type
          margin-left: 0

        &.assembly-header-people-one-more
          $more-height: 46px

          background-color: rgba(255,255,255,.15)
          text-align: center
          line-height: ($more-height - 4px)
          width: $more-height
          height: $more-height
          margin-left: 10px

        .picture,
        &.assembly-header-people-one-more
          border: 2px solid #ffffff
          +border-radius(100px)

  .assembly-header-bg
    background-image: url('https://source.unsplash.com/random/960x140')
    background-color: #ffffff
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    filter: blur(3px) grayscale(25%)
    z-index: 1


// Diapason >> Assembly >> Banners

.assembly-banners
  background: #dfecf7
  border: 1px solid #9fbdd4
  margin: 0
  padding: 12px 42px 14px
  display: block

  .assembly-banners-title
    float: left

    .assembly-banners-title-main,
    .assembly-banners-title-text
      margin: 0
      padding: 0
      display: block

    .assembly-banners-title-main
      font-size: 15px

    .assembly-banners-title-text
      font-size: 13px
      margin-top: 4px

  .assembly-banners-request
    margin-top: 6px
    float: right


// Diapason >> Assembly >> Proposal

.assembly-proposal
  $navigate-width: 92px

  background: #ffffff
  border-width: 0 1px 1px 1px
  border-style: solid
  border-color: #C8C8C8
  min-height: 140px
  margin: 0
  padding: 0
  display: block
  position: relative

  .assembly-proposal-navigate
    border-right: 1px solid #e1e1e1
    text-decoration: none
    outline: none
    width: $navigate-width
    position: absolute
    left: 0
    top: 0
    bottom: 0

    &:hover
      .assembly-proposal-navigate-back
        +opacity(.5)

    &:active
      .assembly-proposal-navigate-back
        +opacity(.7)

    .assembly-proposal-navigate-shade
      +background-image(linear-gradient(left, rgba(0,0,0,0), #f1f1f1))
      width: 4px
      position: absolute
      right: 0
      top: 0
      bottom: 0

    .assembly-proposal-navigate-back
      color: #000000
      font-size: 40px
      text-decoration: none
      margin: 6px 0 0 42px
      display: block
      +opacity(.4)
      +transition(opacity .25s ease-in-out)

  .assembly-proposal-contents
    margin-left: $navigate-width
    padding: 22px 0 0 0

    .assembly-contents-alerts
      padding: 0 26px 24px

    .assembly-proposal-contents-session,
    .assembly-proposal-contents-proposal
      margin-top: 0
      padding-left: 26px

    .assembly-proposal-contents-proposal
      .badge
        margin-left: 12px
        display: inline-block

    .assembly-sessions-contents-separator
      background: #e1e1e1
      height: 1px
      margin: 28px 0 4px
      display: block

    .assembly-sessions-contents-vote
      padding: 12px 40px 64px 26px

      .assembly-sessions-contents-vote-description
        margin-top: -4px

      .assembly-sessions-contents-vote-winner
        background: #c7e6ff
        border: 2px solid #1986de
        color: #000000
        text-align: center
        margin: 0
        margin-top: 24px
        padding: 12px 12px 14px
        display: block

      .assembly-sessions-contents-vote-add
        background: #fffef6
        border: 1px solid #cacaca
        margin: 0
        margin-top: 30px
        padding: 12px 42px 14px
        display: block

        .assembly-sessions-contents-vote-add-title
          width: 70%
          float: left

          .assembly-sessions-contents-vote-add-title-main,
          .assembly-sessions-contents-vote-add-title-text
            margin: 0
            padding: 0
            display: block

          .assembly-sessions-contents-vote-add-title-main
            font-size: 15px

          .assembly-sessions-contents-vote-add-title-text
            font-size: 13px
            margin-top: 4px

        .assembly-sessions-contents-vote-add-go
          margin-top: 15px
          float: right

      .assembly-sessions-contents-vote-choices
        margin-top: 44px
        padding: 0 40px

        .assembly-sessions-contents-vote-choices-one
          background: #ffffff
          border: 1px solid #e1e1e1
          min-height: 45px
          margin-top: -1px
          padding: 0 20px 0 18px
          cursor: pointer
          +transition(transform .2s ease-in-out)

          &[data-selected="false"]
            &:hover,
            &:active
              .assembly-sessions-contents-vote-choices-one-select
                border-color: #32528a
                border-width: 1px

            &:hover
              background: #fbfbfb
              +transform(scale(1.02))
              +box-shadow(0 3px 9px rgba(0,0,0,.075))

            &:active
              background: #f7f7f7
              border-color: #d4d4d4
              +transform(scale(1.01))

          &[data-selected="true"]
            border-color: #32528a
            position: relative
            z-index: 1
            +transform(scale(1.01))

            .assembly-sessions-contents-vote-choices-one-select
              border-color: #32528a

          .assembly-sessions-contents-vote-choices-one-select,
          .assembly-sessions-contents-vote-choices-one-name
            float: left

          .assembly-sessions-contents-vote-choices-one-select
            background: #ffffff
            border: 2px solid #e1e1e1
            color: #32528a
            font-size: 13px
            text-align: center
            line-height: 17px
            width: 20px
            height: 20px
            margin-top: 11px
            margin-right: 16px
            +border-radius(3px)
            +box-shadow(inset 0 0 3px 0 rgba(0, 0, 0, .15))

          .assembly-sessions-contents-vote-choices-one-name
            margin-top: 9px

          .assembly-sessions-contents-vote-choices-one-percent
            margin-top: 9px
            float: right
            width: 70%
            position: relative

            @for $idx from 0 through 19
              +percent-progress($idx)

            .assembly-sessions-contents-vote-choices-one-percent-count
              text-align: left
              width: 8%
              float: right

            .assembly-sessions-contents-vote-choices-one-percent-progress
              margin-top: 8px
              width: 86%
              float: left

              .assembly-sessions-contents-vote-choices-one-percent-progress-line
                background: #5a9cd6
                +background(linear-gradient(top, #5a9cd6, #416cba))
                height: 8px
                display: block
                +border-radius(100px)

          .assembly-sessions-contents-vote-choices-one-voters
            padding: 10px 0
            display: block
            clear: both

            .badge
              margin-right: 6px


// Diapason >> Assembly >> Sessions

.assembly-sessions
  background: #ffffff
  border-width: 0 1px 1px 1px
  border-style: solid
  border-color: #C8C8C8
  min-height: 140px
  margin: 0
  padding: 0
  display: block

  .assembly-sessions-alerts
    padding: 28px 40px 10px

  .assembly-sessions-contents-title,
  .assembly-sessions-contents
    width: 500px

  .assembly-sessions-contents
    margin: 0
    padding: 0
    +box-shadow(0 2px 5px rgba(0,0,0,.06))

    .assembly-sessions-contents-one
      $topic-height: 44px

      background: #f9f9f9
      border-width: 1px 1px 0 1px
      border-style: solid
      border-color: #d8d8d8
      height: $topic-height
      width: 100%
      padding-left: 20px
      line-height: ($topic-height - 2px)
      cursor: pointer
      +transition(transform .2s ease-in-out)

      &:hover,
      &:active
        border-width: 1px

      &:hover
        +transform(scale(1.02))
        +box-shadow(0 3px 9px rgba(0,0,0,.075))

        .icon
          margin-right: 10px

      &:active
        +transform(scale(1.01))

      &:first-of-type
        +border-top-radius(1px)

      &:last-of-type
        border-width: 1px
        +border-bottom-radius(1px)

      .assembly-sessions-contents-one-link
        color: #454545
        text-decoration: none
        display: block

        .assembly-sessions-contents-one-badge
          margin-right: 11px
          margin-top: -2px
          float: right

        .icon
          font-size: 13px
          margin-right: 14px
          float: right
          +transition(all .25s ease-in-out)

  .assembly-sessions-current
    padding: 28px 40px 46px

    .assembly-sessions-current-name
      .assembly-sessions-current-name-title,
      .assembly-sessions-current-name-badge
        margin: 0
        float: left

      .assembly-sessions-current-name-badge
        margin-left: 12px
        margin-top: 4px
        padding: 3px 12px

    .assembly-sessions-current-topic,
    .assembly-sessions-current-members
      line-height: 20px
      margin-top: 24px

      .clear
        display: block

      .assembly-sessions-current-topic-label,
      .assembly-sessions-current-members-label
        font-size: 14px
        border-right: 1px solid #e1e1e1
        padding-right: 10px
        margin-right: 15px
        min-width: 78px
        display: inline-block

      .assembly-sessions-current-topic-name
        font-size: 12px

    .assembly-sessions-current-members
      margin-top: 28px

      .assembly-sessions-current-members-label,
      .assembly-sessions-current-members-list
        float: left

      .assembly-sessions-current-members-list
        margin-top: -12px

        .assembly-sessions-current-members-list-offset
          margin-top: 12px
          display: inline-block

        .assembly-sessions-current-members-list-one
          margin-left: -8px
          float: left

          &:first-of-type
            margin-left: 0

          &.assembly-sessions-current-members-list-one-more
            $more-height: 46px

            background-color: rgba(255,255,255,.15)
            text-align: center
            line-height: ($more-height - 4px)
            width: $more-height
            height: $more-height
            margin-left: 2px

          .picture,
          &.assembly-sessions-current-members-list-one-more
            border: 2px solid #ffffff
            +border-radius(100px)

        .clear
          display: block

    .assembly-sessions-current-contents
      margin-top: 32px

    .assembly-sessions-current-add,
    .assembly-sessions-current-invite,
    .assembly-sessions-current-delegate,
    .assembly-sessions-current-invite
      +opacity(.5)

      &:hover,
      &.assembly-sessions-current-add-opened,
      &.assembly-sessions-current-invite-opened,
      &.assembly-sessions-current-delegate-opened,
      &.assembly-sessions-current-invite-opened
        +opacity(1)

    .assembly-sessions-current-delegate-title,
    .assembly-sessions-current-undelegate-title,
    .assembly-sessions-current-invite-title
      width: 70%

    .assembly-sessions-current-delegate-go,
    .assembly-sessions-current-undelegate-go,
    .assembly-sessions-current-invite-go
      margin-top: 15px

    .assembly-sessions-current-add-go
      margin-top: 6px

    .assembly-sessions-current-add,
    .assembly-sessions-current-invite,
    .assembly-sessions-current-delegate,
    .assembly-sessions-current-undelegate,
    .assembly-sessions-current-invite
      background: #fffef6
      border: 1px solid #cacaca
      margin: 0
      margin-top: 38px
      padding: 12px 42px 14px
      display: block
      +transition(opacity .25s linear)

      .assembly-sessions-current-add-title,
      .assembly-sessions-current-invite-title,
      .assembly-sessions-current-delegate-title,
      .assembly-sessions-current-undelegate-title,
      .assembly-sessions-current-invite-title
        float: left

        .assembly-sessions-current-add-title-main,
        .assembly-sessions-current-add-title-text,
        .assembly-sessions-current-invite-title-main,
        .assembly-sessions-current-invite-title-text,
        .assembly-sessions-current-delegate-title-main,
        .assembly-sessions-current-delegate-title-text,
        .assembly-sessions-current-undelegate-title-main,
        .assembly-sessions-current-undelegate-title-text,
        .assembly-sessions-current-invite-title-main,
        .assembly-sessions-current-invite-title-text
          margin: 0
          padding: 0
          display: block

        .assembly-sessions-current-add-title-main,
        .assembly-sessions-current-invite-title-main,
        .assembly-sessions-current-delegate-title-main,
        .assembly-sessions-current-undelegate-title-main,
        .assembly-sessions-current-invite-title-main
          font-size: 15px

        .assembly-sessions-current-add-title-text,
        .assembly-sessions-current-invite-title-text,
        .assembly-sessions-current-delegate-title-text,
        .assembly-sessions-current-undelegate-title-text,
        .assembly-sessions-current-invite-title-text
          font-size: 13px
          margin-top: 4px

      .assembly-sessions-current-add-go,
      .assembly-sessions-current-invite-go,
      .assembly-sessions-current-delegate-go,
      .assembly-sessions-current-undelegate-go,
      .assembly-sessions-current-invite-go
        float: right

    .assembly-sessions-current-undelegate
      background: white

  .assembly-sessions-discuss
    background: #fbfbfb
    border-top: 1px solid #d8d8d8
    padding: 12px 40px 10px

    .assembly-sessions-discuss-services
      margin: 20px 0
      padding: 0
      display: block

      .assembly-sessions-discuss-services-one
        margin-right: 12px
        float: left

        .assembly-sessions-discuss-services-one-link
          color: #313131
          padding: 6px 14px 6px 16px
          display: inline-block

          .assembly-sessions-discuss-services-one-link-icon,
          .assembly-sessions-discuss-services-one-link-text
            float: left

          .assembly-sessions-discuss-services-one-link-icon
            font-size: 17px
            margin-right: 16px
            margin-top: -3px

          .assembly-sessions-discuss-services-one-link-text
            font-size: 12px
            margin-top: 2px

          .assembly-sessions-discuss-services-one-link-external
            border-left: 1px solid #dedede
            font-size: 15px
            margin-left: 20px
            padding-left: 10px
            float: right

    .assembly-sessions-discuss-add
      float: left

  .assembly-sessions-history
    border-top: 1px solid #d8d8d8
    padding: 12px 40px

    .assembly-sessions-history-timeline
      margin-top: 32px

      .assembly-sessions-history-timeline-session
        position: relative

        .assembly-sessions-history-timeline-session-bar,
        .assembly-sessions-history-timeline-session-topics
          float: left

        .assembly-sessions-history-timeline-session-bar
          background: #3A5D94
          width: 1px
          left: 24px
          position: absolute
          top: 0
          bottom: 0

          .assembly-sessions-history-timeline-session-bar-point
            $point-size: 26px

            width: $point-size
            height: $point-size
            margin-left: (-1 * ($point-size / 2))
            display: block
            +border-radius($point-size)

        .assembly-sessions-history-timeline-session-topics
          background: #ffffff
          border: 1px solid #d8d8d8
          margin: -14px 0 46px 68px
          padding: 12px 10px 12px 10px
          +border-radius(2px)

          .assembly-sessions-history-timeline-session-topics-arrow
            margin-left: -30px
            position: relative

            &:before
              content: ""
              width: 0
              height: 0
              border-top: 14px solid transparent
              border-bottom: 14px solid transparent
              border-right: 20px solid #d8d8d8
              display: block
              position: absolute
              left: 0
              top: 0
              z-index: 1

            &:after
              content: ""
              width: 0
              height: 0
              border-top: 12px solid transparent
              border-bottom: 12px solid transparent
              border-right: 18px solid #ffffff
              position: absolute
              left: 2px
              top: 2px
              display: block
              z-index: 2

          .assembly-sessions-history-timeline-session-topics-inner
            .assembly-sessions-history-timeline-session-topics-inner-name
              font-size: 14px
              margin: 0
              margin-left: 22px
              margin-bottom: 12px
              padding: 0

              .clear
                display: block

              .assembly-sessions-history-timeline-session-topics-inner-name-text,
              .assembly-sessions-history-timeline-session-topics-inner-name-badge
                float: left

              .assembly-sessions-history-timeline-session-topics-inner-name-badge
                margin-left: 14px
                margin-top: 3px

              .assembly-sessions-history-timeline-session-topics-inner-name-date
                color: #737373
                font-size: 12px
                margin-top: 1px
                float: right

.assembly-sessions-current-delegate-form
  border-top: 0 none !important
  z-index: 1

.assembly-sessions-current-delegate-list
  padding: 0

  .assembly-sessions-current-delegate-list-one
    border-bottom: 1px solid #e4e4e4
    padding: 6px 4px

    .assembly-sessions-current-delegate-list-one-name
      width: 220px
      float: left

    .assembly-sessions-current-delegate-list-one-subject
      float: left

    .assembly-sessions-current-delegate-list-one-remove
      font-size: 12px
      color: #b70000
      text-decoration: underline
      float: right

.assembly-sessions-current-add-form,
.assembly-sessions-current-delegate-form,
.assembly-sessions-current-invite-form,
.assembly-sessions-discuss-add-form
  border-top: 1px solid #e4e4e4
  margin-top: 20px
  padding-top: 22px
  display: none
  position: relative

  .assembly-sessions-current-add-form-label,
  .assembly-sessions-current-add-form-fields,
  .assembly-sessions-current-delegate-form-label,
  .assembly-sessions-current-delegate-form-fields,
  .assembly-sessions-current-invite-form-label,
  .assembly-sessions-current-invite-form-fields,
  .assembly-sessions-discuss-add-form-label,
  .assembly-sessions-discuss-add-form-fields
    float: left

  .assembly-sessions-current-add-form-label,
  .assembly-sessions-discuss-add-form-label,
  .assembly-sessions-current-delegate-form-label,
  .assembly-sessions-current-invite-form-label,
  .assembly-sessions-discuss-invite-form-label
    font-size: 15px
    line-height: 42px
    margin-right: 38px

  .assembly-sessions-current-invite-form-fields,
  .assembly-sessions-current-delegate-form-fields
    position: relative

  .assembly-sessions-current-add-form-fields,
  .assembly-sessions-discuss-add-form-fields,
  .assembly-sessions-current-delegate-form-fields,
  .assembly-sessions-current-invite-form-fields,
  .assembly-sessions-discuss-invite-form-fields
    .assembly-sessions-current-add-form-fields-input,
    .assembly-sessions-discuss-add-form-fields-input,
    .assembly-sessions-current-invite-form-fields-input,
    .assembly-sessions-discuss-invite-form-fields-input
      width: 400px

    .assembly-sessions-current-delegate-form-fields-input
      width: 310px

    .assembly-sessions-current-add-form-fields-button,
    .assembly-sessions-discuss-add-form-fields-button,
    .assembly-sessions-current-delegate-form-fields-button,
    .assembly-sessions-current-invite-form-fields-button,
    .assembly-sessions-discuss-invite-form-fields-button
      margin-left: 4px

    .assembly-sessions-current-invite-box,
    .assembly-sessions-current-delegate-box
      background: #ffffff
      border: 1px solid #e1e1e1
      padding: 0
      position: absolute
      left: 0
      top: 36px
      display: none
      +box-shadow(0 3px 7px rgba(0,0,0,.2))

      .assembly-sessions-current-invite-box-item,
      .assembly-sessions-current-delegate-box-item
        display: block

        &:last-of-type
          .assembly-sessions-current-invite-box-item-link,
          .assembly-sessions-current-delegate-box-item-link
            border-bottom: 0 none

        &:hover
          .assembly-sessions-current-invite-box-item-link,
          .assembly-sessions-current-delegate-box-item-link
            background: #f7f7f7
            cursor: pointer

        &.assembly-sessions-current-invite-box-item-template,
        &.assembly-sessions-current-delegate-box-item-template
          display: none

        .assembly-sessions-current-invite-box-item-link,
        .assembly-sessions-current-delegate-box-item-link
          $link-height: 60px

          border-bottom: 1px solid #f1f1f1
          text-align: left
          text-decoration: none
          height: $link-height
          display: block
          position: relative
          +transition(background .15s ease-in-out)

          .picture,
          .assembly-sessions-current-invite-box-item-link-name,
          .assembly-sessions-current-delegate-box-item-link-name
            float: left

          .picture
            margin: 10px 0 0 16px

          .assembly-sessions-current-invite-box-item-link-name,
          .assembly-sessions-current-delegate-box-item-link-name
            line-height: $link-height
            overflow: hidden
            +hyphenation
            word-wrap: break-all
            word-break: break-all
            overflow-wrap: break-all
            position: absolute
            right: 0
            left: 76px
            top: 0
            bottom: 0

.assembly-sessions-discuss-add-form,
.assembly-sessions-discuss-invite-form,
.assembly-sessions-current-delegate-form
  .assembly-sessions-discuss-add-form-fields,
  .assembly-sessions-current-delegate-form-fields,
  .assembly-sessions-discuss-invite-form-fields
    .assembly-sessions-discuss-add-form-fields-input,
    .assembly-sessions-discuss-add-form-fields-select,
    .assembly-sessions-current-delegate-form-fields-input,
    .assembly-sessions-current-delegate-form-fields-select,
    .assembly-sessions-discuss-invite-form-fields-input,
    .assembly-sessions-discuss-invite-form-fields-select
      margin-bottom: 10px
