@import "compass"

@import "controllers/configuration"
@import "controllers/functions"
@import "controllers/keyframes"



// Diapason >> New >> Form

.new-diapason-title
    border-bottom: 1px solid #e6e6e6
    font-size: (22/16) * 1em
    padding-bottom: 8px

.new-diapason-form
    .alert
        margin-top: 20px

    .step-new-diapason
        margin-top: 36px

        h2
            border-bottom: 1px solid #e6e6e6
            font-size: (18/16) * 1em
            margin-bottom: 12px
            padding-bottom: 8px

        .visibility-picker
            text-align: center
            list-style-type: none
            margin-top: 18px
            margin-bottom: -16px

            .visibility-public,
            .visibility-restricted,
            .visibility-private
                background: #ffffff
                border: 2px solid #ffffff
                width: 30%
                height: 100px
                margin: 0 1%
                margin-bottom: 16px
                cursor: pointer
                display: inline-block
                position: relative
                overflow: hidden
                border-radius: 1px
                +box-shadow(0 3px 8px rgba(0,0,0,.1))
                +transition(all .2s ease-in-out)

                &:hover
                    +transform(scale(1.05))
                    +box-shadow(0 3px 9px rgba(0,0,0,.25))

                &:active
                    +transform(scale(.975))

                &[data-active="true"]
                    border-color: #1F5691

                .visibility-icon
                    font-size: (36/16) * 1em
                    position: absolute
                    margin-top: -26px
                    margin-left: 6px
                    top: 50%
                    left: 13px

                .visibility-text
                    text-align: left
                    display: block
                    position: absolute
                    top: 11px
                    bottom: 0
                    right: 10px
                    left: 58px

                    .visibility-text-name,
                    .visibility-text-description
                        display: block

                    .visibility-text-name
                        margin-bottom: 5px

                    .visibility-text-description
                        color: #a2a2a2
                        font-size: (14/16) * 1em
                        line-height: 15px

        .search-wrap
            position: relative

            .invite-search-box
                float: left

            .invite-search-invite
                background: #ffffff
                border: 1px solid #e1e1e1
                padding: 0
                position: absolute
                left: 0
                top: 36px
                display: none
                +box-shadow(0 3px 7px rgba(0,0,0,.2))

                .invite-search-invite-item
                    display: block

                    &:last-of-type
                        .invite-search-invite-item-link
                            border-bottom: 0 none

                    &:hover
                        .invite-search-invite-item-link
                            background: #f7f7f7
                            cursor: pointer

                    &.invite-search-invite-item-template
                        display: none

                    .invite-search-invite-item-link
                        $link-height: 60px

                        border-bottom: 1px solid #f1f1f1
                        text-align: left
                        text-decoration: none
                        height: $link-height
                        display: block
                        position: relative
                        +transition(background .15s ease-in-out)

                        .picture,
                        .invite-search-invite-item-link-name
                            float: left

                        .picture
                            margin: 10px 0 0 16px

                        .invite-search-invite-item-link-name
                            line-height: $link-height
                            overflow: hidden
                            +hyphenation
                            word-wrap: break-all
                            word-break: break-all
                            overflow-wrap: break-all
                            position: absolute
                            right: 0
                            left: 76px
                            top: 0
                            bottom: 0

            .invite-search-label
                color: #a2a2a2
                margin: 0
                padding: 0
                float: right

        .search-ticked
            background: white
            border: 1px solid #e6e6e6
            list-style-type: none
            min-height: 48px
            margin: 4px 0
            padding: 2px 12px 8px
            border-radius: 22px

            .ticked-user
                background: #4371bd
                color: #ffffff
                margin: 6px 3px 0 0
                padding: 2px 16px 5px
                border-radius: 40px
                cursor: pointer
                display: inline-block
                +transition(all .2s ease-in-out)

                &.ticked-user-template
                    display: none

                &:hover
                    background: #e49191
                    +transform(scale(1.05))
                    +box-shadow(0 3px 9px rgba(0,0,0,.25))

                &:active
                    +transform(scale(.975))

                .user-name
                    font-size: (14/16) * 1em

        .configure-wrap
            input,
            textarea
                width: 100%
                display: block

            input
                margin-bottom: 8px

            textarea
                resize: vertical

            .select-one
                display: block

                .select-label
                    font-size: (15/16) * 1em
                    width: 240px
                    display: inline-block

                select
                    min-width: 200px
                    margin-bottom: 10px

        .cycles-wrap
            .cycle-one
                margin-bottom: 32px
                display: block

                &.cycle-one-template
                    display: none

                h4
                    border-bottom: 1px solid #e6e6e6
                    font-size: (14/16) * 1em
                    margin-bottom: 16px
                    padding-bottom: 6px

                    .remove-cycle
                        color: #d41010
                        text-decoration: underline
                        font-size: (12/16) * 1em
                        float: right

                .cycle-name,
                .cycle-tags,
                .cycle-topic,
                .cycle-autoclose
                    width: 100%
                    display: block

                .cycle-name,
                .cycle-tags,
                .cycle-topic
                    margin-bottom: 8px

                .cycle-autoclose
                    margin-bottom: 14px

        .cycles-controls
            text-align: right

            .cycle-add
                font-size: (14/16) * 1em

    .finalize-new-diapason
        text-align: right
        border-top: 1px solid #e6e6e6
        margin-top: 26px
        padding-top: 16px

        .finalize-cancel-link
            font-size: (14/16) * 1em

        .finalize-go-btn
            margin-left: 16px
