extends account/__account

- load staticfiles

block stylesheets
  | {{ block.super }}
  link(rel='stylesheet' href='{% static "assets/account/stylesheets/account_register.css" %}', type='text/css')

block extra_head

block content
  .grid
    if register_resumed
      .g-c7.register-notifs
        if register_resumed
          .alert.register-alert
            span.icon
            | Vous n'aviez pas terminé votre inscription. Nous l'avons reprise.

    .g-c12
      block register_step

    .clear
