extends __base

block content
  .grid
    .g-c12.main-zone-c12
      .main-zone.shadow-light-if-desktop
        .body-central-wrapper
          include account/_account_settings_navigation

          .body-central.settings
            block settings

        .clear

    .clear


block footer
  include _footer
