- load navigation

.navigation
  nav.tabs
    ul
      li.tab(
        class='{% active "^/account/settings/$" %}'
      )
        a(href='{% url "account.views.settings_root" %}')
          | Compte &amp; Profil

      li.tab(
        class='{% active "^/account/settings/credentials/$" %}'
      )
        a(href='{% url "account.views.settings_credentials" %}')
          | Mot de passe
