extends account/__account_settings

- load staticfiles avatar

block title
  | Paramètres de profil

block stylesheets
  | {{ block.super }}
  link(rel='stylesheet' href='{% static "assets/account/stylesheets/account_settings.css" %}', type='text/css')

block javascripts
  | {{ block.super }}
  script(src='{% static "assets/account/javascripts/account_settings_root.js" %}', type='text/javascript')

block extra_head

block settings
  form.classic-form#settingsForm.settings-form(action='./', type='_POST', method='post')
    | {% csrf_token %}

    .main-area
      if form_profile.errors or form_profile_social.errors or form_user.errors
        .alert.alert-error
          span.icon
          | Il y a des erreurs, merci de les corriger.

      if form_saved
        .alert.alert-success
          span.icon
          | Vos préférences ont été mises à jour.

      if social_cannot_connect
        .alert
          span.icon
          | Connexion impossible, déjà lié à un compte Diapason.

      if social_cannot_disconnect
        .alert.alert-error
          span.icon
          | Veuillez définir un mot de passe avant de déconnecter.

      .heading
        | Ces informations apparaissent sur votre profil et dans vos activités sur Diapason.

      .main-form
        for field in form_user
          .main-form-item
            label.label-main(for='id_{{ field.html_name }}')
              | {{ field.label }}

            | {{ field }}

            for error in field.errors
              span.input-tooltip-error(
                class='{{ field.html_name }}-error'
              )
                | {{ error|escape }}

            if field.help_text
              span.tool-tip {{ field.help_text }}

        for field in form_profile
          if field.html_name == "freelancing" or field.html_name == "hiring"
            .main-form-item-checkbox
              | {{ field }}

              for error in field.errors
                span.input-tooltip-error(
                  class='{{ field.html_name }}-error'
                )
                  | {{ error|escape }}

              label(for='id_{{ field.html_name }}')
                span.img

              label.checkbox-classic-label(for='id_{{ field.html_name }}')
                | {{ field.help_text }}

          else
            .main-form-item
              label.label-main(for='id_{{ field.html_name }}')
                | {{ field.label }}
              | {{ field }}

              for error in field.errors
                span.input-tooltip-error(
                  class='{{ field.html_name }}-error'
                )
                  | {{ error|escape }}

              if field.help_text
                span.tool-tip {{ field.help_text }}

    .saving-bar
      button.btn.btn-primary(type='submit')
        | Enregistrer les changements

      .clear

  .complements
    .gravatar
      .heading
        | Votre image de profil.

      | {% avatar_normal user 'complete' %}

      .btn-dropdown.btn-dropdown-update-picture(
        data-api='{% url "account.views.settings_ajax_avatar" %}'
      )
        button.btn.btn-large.btn-update-picture(type='button')
          | Actualiser de
          span(
            class='{{ social_avatar_binding.id }}'
          )
            |  {{ social_avatar_binding.name }}

        button#pictureUpdateDropdown.btn.btn-large.dropdown-toggle(
          class=('disabled' if not social_associations else '')
          disabled=(true if not social_associations else false)
        )
          img.loader(src='{% static "controllers/layout/images/layout_both/ajax_loader.gif" %}', alt='LOADING')
          span.caret

        ul#pictureUpdateDropdownMenu.dropdown-menu
          mixin avatar_update(id, name)
            if id == 'gravatar' or id in social_associations
              li
                a(
                  href='#',
                  data-source='#{id}',
                  class=('item-active' if social_avatar_binding['id'] == '#{id}' else '')
                )
                  | Actualiser de

                  span(
                    class='#{id}'
                  )
                    |  {{ name }}

          +avatar_update('gravatar', 'Gravatar')
          +avatar_update('facebook', 'Facebook')
          +avatar_update('twitter', 'Twitter')
          +avatar_update('google-oauth2', 'Google+')

    .social-networks
      .heading Réseaux sociaux

      .social-info
        | Gérez vos réseaux sociaux ici-même.

      each backend_id, backend_name in social_backends.items
        if backend_id in social_associations
          form(action='{% url "social:disconnect" backend_id %}', method='post')
            | {% csrf_token %}

            button.active(
              class='{{ backend_id }}-button'
            )
        else
          a(
            class='{{ backend_id }}-button',
            href='{% url "social:begin" backend_id %}',
            data-async='disabled'
          )

  .clear
