extends account/__account_register_steps

- load staticfiles avatar

block title
  | Compte

block register_step_heading
  .bubble-step-1
    if request.user.is_authenticated
      | {% avatar_large request.user 'complete' %}
    else
      | {% avatar_large complete='complete' %}

    .bubble
      span.arrow
      | Dans un premier temps, nous devons créer vos identifiants de connexion.

block register_step_form
  .step-1
    | {{ form.email }}

    for error in form.email.errors
      span.input-tooltip-error.email-error
        | {{ error|escape }}

    if form.password
      | {{ form.password }}

      for error in form.password.errors
        span.input-tooltip-error.password-error {{ error|escape }}

    if form.password_confirm
      | {{ form.password_confirm }}

      for error in form.password_confirm.errors
        span.input-tooltip-error.password_confirm-error {{ error|escape }}

    .terms
      | {{ form.terms_agree }}

      label.terms-cb(for='termsCb')
        span.img

      label.label-check(for='termsCb')
        | J'accepte les conditions

      label.label-check-tablet(for='termsCb')
        | En cliquant ceci, vous acceptez les conditions.

      for error in form.terms_agree.errors
        span.input-tooltip-error.terms_agree-error {{ error|escape }}

      .clear

    .navigation
      button#firstStepNextButton.next-step.btn.btn-primary(
        name='register_next',
        value='1'
      )
        | Continuer

      .clear
