extends account/__account_register_steps

- load staticfiles avatar

block title
  | Informations

block register_step_heading
  .bubble-step-3
    | {% avatar_large request.user 'complete' %}

    .bubble
      span.arrow
      | Entrez plus d'informations à votre propos.

block register_step_form
  .step-3
    | {{ form.about }}

    for error in form.about.errors
      span.input-tooltip-error.about-error
        | {{ error|escape }}

    .navigation
      button#thirdStepNextButton.next-step.btn.btn-primary(name='register_next', value='1')
        | Continuer
      button#thirdStepPreviousButton.previous-step.btn(name='register_prev', value='1')
        | Revenir
