extends account/__account_register

- load staticfiles avatar

block title
  | Rejoindre Diapason

block register_step
  .welcome-step
    | {% avatar_large complete='complete' %}

    h1
      | Bienvenue sur Diapason.

    p.details
      | Vous allez créer votre compte Diapason.
      br
      | Vous pourrez ainsi rejoindre des communautés de décisions.

    form#welcomeForm(action='./?key=#{key}', method='post', autocomplete='off')
      | {% csrf_token %}

      button#welcomeButton.btn.btn-primary.btn-large.next-step(name='register_start', value='1')
        | Commençons
