extends account/__account_register_steps

- load staticfiles avatar

block title
  | Profil

block register_step_heading
  .bubble-step-2
    | {% avatar_large request.user 'complete' %}

    .bubble
      span.arrow
      | Complétez votre profil pour que les autres utilisateurs de ce Diapason vous identifient.

block register_step_form
  .step-2
    | {{ form.first_name }}

    for error in form.first_name.errors
      span.input-tooltip-error.first_name-error
        | {{ error|escape }}

    | {{ form.last_name }}

    for error in form.last_name.errors
      span.input-tooltip-error.last_name-error
        | {{ error|escape }}

    .navigation
      button#secondStepNextButton.next-step.btn.btn-primary(name='register_next', value='1')
        | Continuer
