extends account/__account

- load staticfiles

block title
  | Connexion à votre compte

block stylesheets
  | {{ block.super }}
  link(rel='stylesheet' href='{% static "assets/account/stylesheets/account_login.css" %}', type='text/css')

block javascripts
  {{ block.super }}
  script(src='{% static "assets/account/javascripts/account_login.js" %}', type='text/javascript')

block extra_head

block account
  #signinSpace.signin
    .emblem
      .emblem-img

    form#signinForm.signin-form(
      class=('is_invalid' if form.errors or error_notif['has'] else ''),
      method='post',
      autocomplete='off'
    )
      | {% csrf_token %}

      if error_notif.long and error_notif.short
        .alert.alert-error.login-error
          span.icon
          | {{ error_notif.long }}

      else
        if has_login_required
          .alert.login-alert
            span.icon
            | Veuillez vous connecter pour accéder à la page.

        if social_auth_failed
          .alert.alert-error.login-alert
            span.icon
            | Nous n'avons pas pu vous authentifier. Réessayez.

        if social_auth_revoked %}
          .alert.alert.login-alert
            span.icon
            | Vous avez révoqué Diapason de votre compte social.

      fieldset.credentials
        .labels Entrez votre email &amp; votre mot de passe.

        | {{ form.username }}
        | {{ form.password }}

      fieldset.additionals
        .remember-me-field
          | {{ form.remember }}

          label.remember-me-label(for='rememberMe')
            span.img

          label.checkbox-slide-label.remember-me(for='rememberMe') Rester connecté.

          br

        button.signin-submit.btn.btn-primary(type='submit') Connexion

        .api-desktop
          span.separator-api

          a(href='{% url "account.views.login_social" "facebook" %}')
            span.facebook-connect

        .clear

        span.delimitor |

        span.register-tablet
          span.icon-register
          | Pas de compte ?

          a.register-tablet-label(href='{% url "account.views.register_root" %}')
            | Créez un compte et rejoignez Diapason !

      .clear
