extends account/__account_register

- load staticfiles avatar

block title
  | Félicitations {{ request.user.first_name|default:"utilisateur" }} ! Vous êtes à présent inscrit.

block register_step
  .final-step
    | {% avatar_large request.user 'complete' %}

    h1
      | Félicitations {{ request.user.first_name|default:"utilisateur" }}.

    p.details
      | À présent, vous pouvez participer à des échanges sur les espaces Diapason.

    form(action='./?key=#{key}', method='post')
      | {% csrf_token %}

      button.btn.btn-primary.btn-large(type='submit', name='register_done', value='1')
        | Accéder à Diapason

    .cutline

    .additionals
      p.contact
        | Si vous avez une quelconque question
        | &#32;
        a(href='#') contactez l'administrateur
        | &#32;
        | de ce serveur Diapason.
