extends account/__account_settings

- load staticfiles

block title
  | Modification de mot de passe

block stylesheets
  | {{ block.super }}
  link(rel='stylesheet' href='{% static "assets/account/stylesheets/account_settings.css" %}', type='text/css')

block javascripts
  | {{ block.super }}

block extra_head

block settings
  form.classic-form#settingsForm.settings-form(action='./', type='_POST', method='post')
    | {% csrf_token %}

    if form.errors
      .alert.alert-error
        span.icon
        | Veuillez corriger les erreurs.

    if form_saved
      .alert.alert-success
        span.icon
        | Mot de passe modifié.

    .main-area.password-area
      .heading
        | Modifiez votre mot de passe ou récupérez votre mot de passe courant.

      .main-form
        for field in form
          .main-form-item
            label.label-main(for='id_{{ field.html_name }}')
              | {{ field.label }}

            | {{ field }}

            for error in field.errors
              span.input-tooltip-error(
                class='{{ field.html_name }}-error'
              )
                | {{ error|escape }}

            if field.help_text
              span.tool-tip {{ field.help_text }}

        button.btn.btn-small.btn-primary.btn-main-form(type='submit')
          | Changer mon mot de passe

    .clear

  .clear
