extends account/__account

- load staticfiles

block title
  | Déconnecté

block stylesheets
  | {{ block.super }}
  link(rel='stylesheet' href='{% static "assets/account/stylesheets/account_logout.css" %}', type='text/css')

block javascripts
  | {{ block.super }}

block extra_head

block content
  #signoutSpace.signout
    .signout-wrapper
      h1 Au revoir, {{ first_name }}. Vous êtes déconnecté.

      .signout-actions
        a.btn.btn-primary(href="/")
          | Retour à l'accueil

      .clear
