@import "compass"
@import "controllers/functions"
@import "controllers/keyframes"



// User Profiles

.user-profile
    margin-bottom: 25px

    .avatar-wrapper
        float: left

        img
            width: 100%

    .content
        margin-left: 100px

        .author
            margin-bottom: 0
            font-size: (24/16) * 1em

        .email
            margin: 0
            font-size: (13/16) * 1em
            margin-top: 4px
            text-decoration: underline

        .bio
            border: 1px solid #e2e2e2
            background: #f5f5f5
            font-size: (12/16) * 1em
            margin: 24px 0 0 0
            padding: 12px 14px
            display: block


/* For Tablet & Beyond */
@media screen and (min-width: 767px)
    .user-profile
        margin-bottom: 12px

        .avatar-wrapper
            float: none

        .content
            margin-left: 0

            .author,
            .email,
            .bio,
            .follow-wrapper
                text-align: left

            .author
                margin: 5px 0 1px
