@import "compass"
@import "controllers/functions"
@import "controllers/keyframes"



.left-summary-desktop
    .user-profile
        position: relative

        .edit
            margin-top: 12px
            position: absolute
            top: 0
            right: 0



/* For Tablet & Beyond */
@media screen and (min-width: 767px)
    .left-summary-desktop
        display: block
        margin-right: 30px
        margin-bottom: 20px
        padding-left: 5px


/* For Small Tablet (L) & Beyond */
@media screen and (min-width: 799px)
    .left-summary-desktop
        position: relative
        padding-left: 30px


/* For Tablet (L) & Beyond */
@media screen and (min-width: 1023px)
    .left-summary-desktop
        .user-profile
            .large-pix
                .avatar-wrapper
                    margin-bottom: 8px

            .content
                width: 75%
