@import "compass"

@import "controllers/configuration"
@import "controllers/functions"
@import "controllers/keyframes"

@import "_user_profiles"
@import "_user_items"
@import "_user_left_summary"


.user-diapasons
  background: #fbfbfb
  border-top: 1px solid #efefef
  margin: 24px -40px -40px -42px
  padding: 20px 40px 40px 42px

  h2
    font-size: 20px
    text-transform: uppercase

  .diapasons-list
    margin-top: 20px
