if not is_member
  .assembly-banners
    .assembly-banners-title
      h4.assembly-banners-title-main
        | Vous n'êtes pas membre de ce Diapason.

      p.assembly-banners-title-text
        | Un membre du Diapason peut vous inviter.

    .clear
