- load avatar

.assembly-header
  .assembly-header-wrap
    .assembly-header-name
      if diapason.visibility_level == 0
        span.assembly-header-name-icon.icon.fa-unlock-alt
      elif diapason.visibility_level == 1
        span.assembly-header-name-icon.icon.fa-shield
      else
        span.assembly-header-name-icon.icon.fa-lock

      h4.assembly-header-name-text
        | #{diapason.name}

        if active_session and active_session.name
          span.assembly-header-name-text-session.regular
            | Session

            span.italic
              |  #{active_session.name} (#{active_session.tags})

            | du #{active_session.date_autoclose|date:"d/m/Y"}

    ul.assembly-header-people
      each member in diapason_first_members
        span.assembly-header-people-one
          {% avatar_small %}

      if diapason_remaining_members_count > 0
        li.assembly-header-people-one.assembly-header-people-one-more.bold
          | +#{diapason_remaining_members_count}

      span.clear

  .assembly-header-bg
