extends __base

- load staticfiles

block title
  | Proposition du Diapason

block stylesheets
  | {{ block.super }}
  link(rel='stylesheet' href='{% static "assets/diapason/stylesheets/diapason_assembly.css" %}', type='text/css')

block javascripts
  | {{ block.super }}
  script(src='{% static "assets/diapason/javascripts/diapason_assembly.js" %}', type='text/javascript')
  script(src='{% static "assets/diapason/javascripts/diapason_assembly_proposal.js" %}', type='text/javascript')

block content
  .grid.assembly
    .g-c10.g-s2.assembly-box
      include diapason/_diapason_header
      include diapason/_diapason_banners

      .assembly-proposal
        a.assembly-proposal-navigate(
          href="../../../../"
        )
          span.assembly-proposal-navigate-back.icon.fa-chevron-circle-left

          span.assembly-proposal-navigate-shade

        .assembly-proposal-contents
          if alert_choice_response_data_error or alert_choice_response_data_conflict or alert_choice_response_data_success
            .assembly-contents-alerts
              if alert_choice_response_data_error
                .alert.alert-error
                  span.icon
                  | Le choix n'a pas pu être créé. Réessayez.

              if alert_choice_response_data_conflict
                .alert.alert-error
                  span.icon
                  | Un choix équivalent existe déjà. Votre choix n'a donc pas été créé.

              if alert_choice_response_data_success
                .alert.alert-success
                  span.icon
                  | Le choix a été créé avec succès. Vous pouvez à présent y voter.

          if alert_vote_response_data_error or alert_vote_response_data_success
            .assembly-contents-alerts
              if alert_vote_response_data_error
                .alert.alert-error
                  span.icon
                  | Votre vote n'a pas pu être enregistré. Réessayez.

              if alert_vote_response_data_success
                .alert.alert-success
                  span.icon
                  | Votre vote a été enregistré. Merci.

          h4.assembly-proposal-contents-proposal
            | Proposition :

            span.regular
              |  #{proposal.name}

            if not is_still_active
              span.badge.badge-black
                | Session parente close

          span.assembly-sessions-contents-separator

          .assembly-sessions-contents-vote
            h5.assembly-sessions-contents-vote-title
              | Émettre un vote

            if not can_participate
              p.assembly-sessions-contents-vote-description
                | Vous pouvez seulement voir les votes de ce Diapason, mais vous ne pouvez pas y participer. Veuillez en demander l'accès pour voter.

            if can_participate
              p.assembly-sessions-contents-vote-description
                | En tant que personne autorisée sur ce Diapason, vous pouvez émettre votre avis en votant, ou en proposant un choix de vote répondant à la proposition. Les votes ne sont pas anonymes, pour permettre la vérification de tous.

              p.assembly-sessions-contents-vote-description.bold
                | L'ordre de vos choix se fera comme suit : le premier vote est considéré comme le choix préféré, le second vote le second préféré, le troisième le troisième préféré, etc.

              if winner
                .assembly-sessions-contents-vote-winner
                  | Les choix préféré selon Condorcet, en ce moment, sont dans l'ordre :

                  span.bold
                    |  #{winner}

              .assembly-sessions-contents-vote-add
                .assembly-sessions-contents-vote-add-title
                  h4.assembly-sessions-contents-vote-add-title-main
                    | Un choix n'apparaît pas ?

                  p.assembly-sessions-contents-vote-add-title-text
                    | Émettez votre choix ici-même, afin de permettre aux participants de le sélectionner dans leur vote.

                a.assembly-sessions-contents-vote-add-go.btn.btn-inverse(
                  href="#",
                  onclick="return DiapasonAssembly.newAdd(this)"
                )
                  | Nouveau choix...

                .clear

                form.assembly-sessions-current-add-form(
                  method='post',
                  autocomplete='off',
                  action='./'
                )
                  | {% csrf_token %}

                  label.assembly-sessions-current-add-form-label.semibold
                    | Ajouter un choix

                  .assembly-sessions-current-add-form-fields
                    input.assembly-sessions-current-add-form-fields-input(
                      type="text",
                      name="choice_title",
                      placeholder="Entrez le nom du choix..."
                    )

                    button.assembly-sessions-current-add-form-fields-button.btn.btn-primary.btn-large(
                      type="submit"
                    )
                      | Ajouter

                  .clear

            ul.assembly-sessions-contents-vote-choices
              each diapason_proposal_choice in diapason_proposal_choices
                li.assembly-sessions-contents-vote-choices-one(
                  data-selected="#{diapason_proposal_choice.has_voted}",
                  onclick="return DiapasonAssemblyProposal.submitVote(this)"
                )
                  form.assembly-sessions-contents-vote-choices-one-form(
                    method="post",
                    action="./"
                  )
                    | {% csrf_token %}

                    input(
                      type="hidden",
                      name="vote_choice_id",
                      value="#{diapason_proposal_choice.id}"
                    )

                  if can_participate
                    span.assembly-sessions-contents-vote-choices-one-select.bold
                      if diapason_proposal_choice.vote_order != -1
                        | #{diapason_proposal_choice.vote_order}

                  span.assembly-sessions-contents-vote-choices-one-name.semibold
                    | #{diapason_proposal_choice.value}

                  span.assembly-sessions-contents-vote-choices-one-percent(
                    data-percent="#{diapason_proposal_choice.percent_voted}"
                  )
                    span.assembly-sessions-contents-vote-choices-one-percent-count
                      | #{diapason_proposal_choice.percent_voted}%

                    span.assembly-sessions-contents-vote-choices-one-percent-progress
                      span.assembly-sessions-contents-vote-choices-one-percent-progress-line

                    .clear

                  if diapason_proposal_choice.voters_len > 0
                    span.assembly-sessions-contents-vote-choices-one-voters
                      span.badge.badge-blue.bold
                        | Ont voté

                      each diapason_proposal_choice_voter, index in diapason_proposal_choice.voters
                        | {{ diapason_proposal_choice_voter.first_name }} {{ diapason_proposal_choice_voter.last_name }}

                        if index < diapason_proposal_choice.voters_len_idx
                          | -

                  .clear

    .clear

block footer
  include _footer
