extends __base

- load staticfiles avatar

block title
  | Invitation à un Diapason

block stylesheets
  | {{ block.super }}
  link(rel='stylesheet' href='{% static "assets/diapason/stylesheets/diapason_invite.css" %}', type='text/css')

block javascripts
  | {{ block.super }}
  script(src='{% static "assets/diapason/javascripts/diapason_invite.js" %}', type='text/javascript')

block content
  .grid
    .g-c8.g-s2
      if not key_is_valid
        .alert.alert-error
          span.icon
          | La clé d'invitation au Diapason est invalide.

        .error-btn
          a.btn.btn-primary.btn-return(href='/')
            | Revenir à l'accueil
      else
        h1.invite-diapason-title Accepter l'invitation au Diapason

        .invite-diapason-choices-wrapper
          ul.invite-diapason-choices
            li.invite-diapason-choices-item(
              onclick=
            )
              a.invite-diapason-choices-item-button(
                href="/account/login/?key=#{key}"
              )
                span.invite-diapason-choices-item-button-wrapped
                  span.invite-diapason-choices-item-button-label.bold
                    | J'ai déjà un compte Diapason

                  span.invite-diapason-choices-item-button-description
                    | Utiliser mon compte Diapason

            li.invite-diapason-choices-item
              a.invite-diapason-choices-item-button(
                href="/account/register/?key=#{key}"
              )
                span.invite-diapason-choices-item-button-wrapped
                  span.invite-diapason-choices-item-button-label.bold
                    | Je n'ai pas encore de compte

                  span.invite-diapason-choices-item-button-description
                    | Créer un compte Diapason

    .clear

block footer
  include _footer
