extends __base

- load staticfiles avatar

block title
  | Nouveau Diapason

block stylesheets
  | {{ block.super }}
  link(rel='stylesheet' href='{% static "assets/diapason/stylesheets/diapason_new.css" %}', type='text/css')

block javascripts
  | {{ block.super }}
  script(src='{% static "assets/diapason/javascripts/diapason_new.js" %}', type='text/javascript')

block content
  .grid
    .g-c8.g-s2
      h1.new-diapason-title Nouveau Diapason

      form.new-diapason-form(
        method="post",
        action="./"
      )
        | {% csrf_token %}

        if error_trace
          .alert.alert-error
            span.icon
            | #{error_trace}

        if form.errors
          .alert.alert-error
            span.icon
            | Il y a des erreurs, merci de les corriger.

        .step-new-diapason
          h2 1. Configurer la visibilité

          ul.visibility-picker
            | {{ form.visibility_level }}

            li.visibility-btn.visibility-public(
              data-value="0"
            )
              a(
                href='#'
              )
                span.visibility-icon.icon.fa-unlock-alt

                span.visibility-text
                  span.visibility-text-name.bold
                    | Public

                  span.visibility-text-description
                    | Tout le monde peut voir et participer, sans être membre.

            li.visibility-btn.visibility-restricted(
              data-value="1"
            )
              a(
                href='#'
              )
                span.visibility-icon.icon.fa-shield

                span.visibility-text
                  span.visibility-text-name.bold
                    | Protégé

                  span.visibility-text-description
                    | Tout le monde peut voir, seuls les membres participent.

            li.visibility-btn.visibility-private(
              data-value="2"
            )
              a(
                href='#'
              )
                span.visibility-icon.icon.fa-lock

                span.visibility-text
                  span.visibility-text-name.bold
                    | Privé

                  span.visibility-text-description
                    | Seuls les membres voient et participent à ce Diapason.

            for error in form.visibility_level.errors
              span.input-tooltip-error.visibility_level-error
                | {{ error|escape }}

        .step-new-diapason
          h2 2. Ajouter des utilisateurs

          .search-wrap
            input.invite-search-box.g-c5(
              type="text",
              placeholder="Nom ou email..."
            )

            input.invite-search-member-ids(
              type="hidden",
              name="member_ids",
              value=""
            )

            ul.invite-search-invite.g-c5
              li.invite-search-invite-item.invite-search-invite-item-template
                a.invite-search-invite-item-link(
                  href="#"
                )
                  {% avatar_small user %}

                  span.invite-search-invite-item-link-name

                  span.clear

            p.invite-search-label.g-c6
              | Vous pouvez ajouter des membres à ce Diapason, par nom (si déjà inscrit) ou addresse email (si non inscrit).

            .clear

          ul.search-ticked
            li.ticked-user.ticked-user-template(
              data-user-id="",
              onclick="return DiapasonNew.nukeUser(this)"
            )
              span.user-name

        .step-new-diapason
          h2 3. Configuration du Diapason

          .configure-wrap
            | {{ form.name }}

            for error in form.name.errors
              span.input-tooltip-error.name-error
                | {{ error|escape }}

            | {{ form.description }}

            for error in form.description.errors
              span.input-tooltip-error.description-error
                | {{ error|escape }}

            label.select-one
              span.select-label
                | Propositions par session

              | {{ form.proposals_per_cycle }}

            for error in form.proposals_per_cycle.errors
              span.input-tooltip-error.proposals_per_cycle-error
                | {{ error|escape }}

        .step-new-diapason
          h2 4. Planification des sessions

          .cycles-wrap
            label.cycle-one
              h4
                | Session #1

                a.remove-cycle(
                  href='#',
                  onclick="return DiapasonNew.nukeCycle(this)"
                )
                  | Supprimer la session

              input.cycle-defined(
                name="cycle_1_defined",
                type="hidden",
                value="1"
              )

              input.cycle-name(
                name="cycle_1_name",
                placeholder="Nom de la session...",
                type="text"
              )

              input.cycle-topic(
                name="cycle_1_topic",
                placeholder="Topic de la session...",
                type="text"
              )

              input.cycle-tags(
                name="cycle_1_tags",
                placeholder="Tags de la session...",
                type="text"
              )

              input.cycle-autoclose(
                name="cycle_1_autoclose",
                placeholder="Date de clôture (JJ/MM/AAAA)...",
                type="text"
              )

            label.cycle-one.cycle-one-template
              h4
                | Session #

                span.cycle-count

                a.remove-cycle(
                  href='#',
                  onclick="return DiapasonNew.nukeCycle(this)"
                )
                  | Supprimer la session

              input.cycle-defined(
                name="",
                type="hidden",
                value="1"
              )

              input.cycle-name(
                name="",
                placeholder="Nom de la session...",
                type="text"
              )

              input.cycle-topic(
                name="",
                placeholder="Topic de la session...",
                type="text"
              )

              input.cycle-tags(
                name="",
                placeholder="Tags de la session...",
                type="text"
              )

              input.cycle-autoclose(
                name="",
                placeholder="Date de clôture (JJ/MM/AAAA)...",
                type="text"
              )

          .cycles-controls
              a.cycle-add(
                href='#',
                onclick="return DiapasonNew.addCycle(this)"
              )
                | Ajouter une session

        .finalize-new-diapason
          a.finalize-cancel-link(
            href='{% url "home.views.root" %}'
          )
            | Annuler la création

          button.finalize-go-btn.btn.btn-primary
            | Créer ce Diapason

    .clear

block footer
  include _footer
