extends __base

- load staticfiles avatar

block title
  | Assemblée virtuelle du Diapason

block stylesheets
  | {{ block.super }}
  link(rel='stylesheet' href='{% static "assets/diapason/stylesheets/diapason_assembly.css" %}', type='text/css')

block javascripts
  | {{ block.super }}
  script(src='{% static "assets/diapason/javascripts/diapason_assembly.js" %}', type='text/javascript')

block content
  .grid.assembly
    .g-c10.g-s2.assembly-box
      include diapason/_diapason_header
      include diapason/_diapason_banners

      .assembly-sessions
        if alert_response_data_error or alert_response_data_success
          .assembly-sessions-alerts
            if alert_response_data_error
              .alert.alert-error
                span.icon
                | #{alert_response_data_error}

            if alert_response_data_success
              .alert.alert-success
                span.icon
                | La proposition a été soumise à la session en cours.

        if active_session
          .assembly-sessions-current
            .assembly-sessions-current-name
              h4.assembly-sessions-current-name-title
                | Session

                span.italic
                  |  #{active_session.name} (#{active_session.tags})

                | du #{active_session.date_autoclose|date:"d/m/Y"}

              if not active_session.is_still_active
                span.assembly-sessions-current-name-badge.badge.badge-black.semibold
                  | Session terminée
              else
                span.assembly-sessions-current-name-badge.badge.badge-blue.semibold
                  | Session en cours

              .clear

            p.assembly-sessions-current-topic
              span.assembly-sessions-current-topic-label.bold
                | Sujet

              span.assembly-sessions-current-topic-name
                | #{active_session.topic}

              span.clear

            p.assembly-sessions-current-members
              span.assembly-sessions-current-members-label.bold
                | Membres

              span.assembly-sessions-current-members-list
                if has_active_session_first_members
                  each member in active_session_first_members
                    span.assembly-sessions-current-members-list-one
                      {% avatar_small %}
                else
                  span.assembly-sessions-current-members-list-offset
                    | Pas de membres

                if active_session_remaining_members_count > 0
                  span.assembly-sessions-current-members-list-one.assembly-sessions-current-members-list-one-more.bold
                    | +#{active_session_remaining_members_count}

                span.clear

              span.clear

            h4.assembly-sessions-contents-title.assembly-sessions-current-contents
              | Liste des propositions

            ul.assembly-sessions-contents
              each proposal, index in active_session_proposals
                li.assembly-sessions-contents-one
                  a.assembly-sessions-contents-one-link(
                    href="/diapason/assembly/#{diapason.slug}/session/#{active_session.id}/proposal/#{proposal.id}/"
                  )
                    span.bold
                      | Proposition &#x23;#{index|add:"1"}

                    | &nbsp; #{proposal.name}

                    span.icon.fa-arrow-right

                    if proposal.criticity == 0
                      span.assembly-sessions-contents-one-badge
                        span.badge.badge-red.bold
                          | Prioritaire
                    elif proposal.criticity == 1
                      span.assembly-sessions-contents-one-badge
                        span.badge.badge-orange.bold
                          | Important

            if can_participate
              .assembly-sessions-current-add
                .assembly-sessions-current-add-title
                  h4.assembly-sessions-current-add-title-main
                    | Vous avez une proposition à soumettre ?

                  p.assembly-sessions-current-add-title-text
                    | Proposez votre idée au sein de cette session, afin que les participants échangent et votent.

                a.assembly-sessions-current-add-go.btn.btn-inverse(
                  href="#",
                  onclick="return DiapasonAssembly.newAdd(this)"
                )
                  | Nouvelle proposition...

                .clear

                form.assembly-sessions-current-add-form(
                  method='post',
                  autocomplete='off',
                  action='./'
                )
                  | {% csrf_token %}

                  label.assembly-sessions-current-add-form-label.semibold
                    | Nouvelle proposition

                  .assembly-sessions-current-add-form-fields
                    input.assembly-sessions-current-add-form-fields-input(
                      type="text",
                      name="proposal_title",
                      placeholder="Entrez le titre de la proposition..."
                    )

                    button.assembly-sessions-current-add-form-fields-button.btn.btn-primary.btn-large(
                      type="submit"
                    )
                      | Proposer

                  .clear

              if can_participate
                .assembly-sessions-current-delegate
                  .assembly-sessions-current-delegate-title
                    h4.assembly-sessions-current-delegate-title-main
                      | Serez-vous absent pour une session ?

                    p.assembly-sessions-current-delegate-title-text
                      | Déléguez vos tags à un autre membre en qui vous faites confiance, pour le Diapason. Si cette personne délègue son vote à une autre, alors votre vote sera délégué à cette personne.

                  a.assembly-sessions-current-delegate-go.btn.btn-warning(
                    href="#",
                    onclick="return DiapasonAssembly.designateDelegate(this)"
                  )
                    | Déléguer mes tags

                  .clear

                  if delegated_count > 0
                    ul.assembly-sessions-current-delegate-list
                      each delegated_one in delegated
                        li.assembly-sessions-current-delegate-list-one
                          span.assembly-sessions-current-delegate-list-one-name.semibold
                            | #{delegated_one.delegated_user.first_name} #{delegated_one.delegated_user.last_name}

                          span.assembly-sessions-current-delegate-list-one-subject
                            | Pour le sujet:

                            span.bold
                              |  #{delegated_one.subject}

                          a.assembly-sessions-current-delegate-list-one-remove.bold(
                            href="#",
                            onclick="return DiapasonAssembly.nukeDelegation('#{delegated_one.delegated_user}', '#{delegated_one.subject}')"
                          )
                            | Enlever

                          .clear

                  form.assembly-sessions-current-delegate-form-nuke(
                    method='post',
                    autocomplete='off',
                    action='./'
                  )
                    | {% csrf_token %}

                    input(
                      type="hidden",
                      name="undelegate_member_id",
                      value=""
                    )

                    input(
                      type="hidden",
                      name="undelegate_subject",
                      value=""
                    )

                  form.assembly-sessions-current-delegate-form(
                    method='post',
                    autocomplete='off',
                    action='./'
                  )
                    | {% csrf_token %}

                    label.assembly-sessions-current-delegate-form-label.semibold
                      | Déléguer un membre

                    .assembly-sessions-current-delegate-form-fields
                      input.assembly-sessions-current-delegate-form-fields-input(
                        type="text",
                        name="delegate_subject",
                        placeholder="Sujet..."
                      )

                      input.assembly-sessions-current-delegate-form-fields-input(
                        type="text",
                        name="delegate_name",
                        placeholder="Nom..."
                      )

                      input.assembly-sessions-current-delegate-form-fields-member-ids(
                        type="hidden",
                        name="delegate_member_id",
                        value=""
                      )

                      ul.assembly-sessions-current-delegate-box.g-c8
                        li.assembly-sessions-current-delegate-box-item.assembly-sessions-current-delegate-box-item-template
                          a.assembly-sessions-current-delegate-box-item-link(
                            href="#"
                          )
                            {% avatar_small user %}

                            span.assembly-sessions-current-delegate-box-item-link-name

                            span.clear

                    .clear

              .assembly-sessions-current-invite
                .assembly-sessions-current-invite-title
                  h4.assembly-sessions-current-invite-title-main
                    | Désirez-vous inviter un membre ?

                  p.assembly-sessions-current-invite-title-text
                    | Invitez un membre à ce Diapason, afin qu'il puisse voir le Diapason si celui-ci est privé ou protégé, ou simplement apparaître comme participant.

                a.assembly-sessions-current-invite-go.btn.btn-warning(
                  href="#",
                  onclick="return DiapasonAssembly.inviteMember(this)"
                )
                  | Inviter un membre

                .clear

                form.assembly-sessions-current-invite-form(
                  method='post',
                  autocomplete='off',
                  action='./'
                )
                  | {% csrf_token %}

                  label.assembly-sessions-current-invite-form-label.semibold
                    | Inviter un membre

                  .assembly-sessions-current-invite-form-fields
                    input.assembly-sessions-current-invite-form-fields-input(
                      type="text",
                      placeholder="Nom ou email..."
                    )

                    input.assembly-sessions-current-invite-form-fields-member-ids(
                      type="hidden",
                      name="member_id",
                      value=""
                    )

                    ul.assembly-sessions-current-invite-box.g-c8
                      li.assembly-sessions-current-invite-box-item.assembly-sessions-current-invite-box-item-template
                        a.assembly-sessions-current-invite-box-item-link(
                          href="#"
                        )
                          {% avatar_small user %}

                          span.assembly-sessions-current-invite-box-item-link-name

                          span.clear

                  .clear

        .assembly-sessions-discuss
          h5.assembly-sessions-discuss-title
            | Débattez de ce Diapason sur un service externe

          if not services
            p
              | Pas de service externe disponible.

          if services
            ul.assembly-sessions-discuss-services
              each service in services
                li.assembly-sessions-discuss-services-one
                  a.assembly-sessions-discuss-services-one-link.btn(
                    href="#{service.uri}",
                    target="_blank"
                  )
                    span.assembly-sessions-discuss-services-one-link-icon.icon.fa-commenting

                    span.assembly-sessions-discuss-services-one-link-text.semibold
                      | #{service.label}

                    span.assembly-sessions-discuss-services-one-link-external.icon.fa-external-link

                    .clear

          if can_participate
            a.assembly-sessions-discuss-add.btn.btn-small(
              href="#",
              onclick="return DiapasonAssembly.addService(this)"
            )
              | Ajouter un service

            .clear

            form.assembly-sessions-discuss-add-form(
              method='post',
              autocomplete='off',
              action='./'
            )
              | {% csrf_token %}

              label.assembly-sessions-discuss-add-form-label.semibold
                | Ajout de service

              .assembly-sessions-discuss-add-form-fields
                select.assembly-sessions-discuss-add-form-fields-select(
                  name="service_type"
                )
                  option(
                    value="email"
                  )
                    | Email

                  option(
                    value="xmpp"
                  )
                    | XMPP

                  option(
                    value="irc"
                  )
                    | IRC

                  option(
                    value="facebook"
                  )
                    | Facebook

                  option(
                    value="web"
                  )
                    | Web

                input.assembly-sessions-discuss-add-form-fields-input(
                  type="text",
                  name="service_uri",
                  placeholder="Entrez l'URL sur le service"
                )

                button.assembly-sessions-discuss-add-form-fields-button.btn.btn-primary.btn-large(
                  type="submit"
                )
                  | Ajouter

          .clear

        .assembly-sessions-history
          h4.assembly-sessions-history-name
            | Sessions passées

          if not past_sessions
            p
              | Pas de session passée disponible.

          if past_sessions
            .assembly-sessions-history-timeline
              each session in past_sessions
                .assembly-sessions-history-timeline-session
                  .assembly-sessions-history-timeline-session-bar
                    .assembly-sessions-history-timeline-session-bar-point.badge.badge-blue

                  .assembly-sessions-history-timeline-session-topics.animated.fadeInRight
                    .assembly-sessions-history-timeline-session-topics-arrow

                    .assembly-sessions-history-timeline-session-topics-inner
                      h6.assembly-sessions-history-timeline-session-topics-inner-name
                        span.assembly-sessions-history-timeline-session-topics-inner-name-text.bold
                          | #{session.name}

                        if not session.is_still_active
                          span.assembly-sessions-history-timeline-session-topics-inner-name-badge.badge.badge-black.semibold
                            | Session close
                        else
                          span.assembly-sessions-history-timeline-session-topics-inner-name-badge.badge.badge-green.semibold
                            | Session ouverte

                        span.assembly-sessions-history-timeline-session-topics-inner-name-date
                          if session.date_closed
                            | #{session.date_closed|date:"d/m/Y"}
                          else
                            | #{session.date_autoclose|date:"d/m/Y"}

                        span.clear

                      ul.assembly-sessions-contents
                        each proposal in session.proposals
                          li.assembly-sessions-contents-one
                            a.assembly-sessions-contents-one-link(
                              href="/diapason/assembly/#{diapason.slug}/session/#{session.id}/proposal/#{proposal.id}/"
                            )
                              | #{proposal.name}

                              span.icon.fa-arrow-right

                  .clear

                .clear

    .clear

block footer
  include _footer
