.avatar-wrapper(
  class=(['avatar-wrapper-%s' % str(size) if size != 'normal' else ''])
)
  .avatar(
    class=('avatar-%s' % str(size) if size != 'normal' else '')
  )
    if user
      a(href='#')
        | {{ avatar|safe }}
    else
      | {{ avatar|safe }}
